server:
  port: 8082

spring:
  application:
    name: car-service
  datasource:
    url: jdbc:postgresql://localhost:5432/taxi
    driverClassName: org.postgresql.Driver
    username: user
    password: password
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
  h2:
    console:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

kafka:
  bootstrapAddress: localhost:9092